<h2>Login Page</h2>

<% if @errors %>
  <ul>
    <% @errors.each do |error| %>
      <li><%=error %></li>
    <% end %>
  </ul>
<% end %>

<form method='post' action="/login">
  <input type="text" name="username" placeholder="Username">
  <input type="password" name="password" placeholder="Password">
  <input type="submit" value="Login">
</form>
